@font-face {
  font-family: "Art Dystopia";
  src: url("ArtDystopia.otf");
}
*
{
    margin: 0;
    padding: 0;

}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    pointer-events: none;
}

.texture{
  /* visibility: hidden;  */
}

#play{
  font-size: 6em;
  font-family: 'Art Dystopia';
  position: fixed;
  z-index: -1;
  margin-left: 40%;
  margin-top: 70vh;
  cursor: pointer;
}
